#canvas {
	display: block;
	margin: auto;
	text-align: center;
}

#scoreCounter {
	color: white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 30px;
	width: 98%;
	text-align:center;
	font-size: 70px;
}

.container {
	position: absolute;
	bottom: 30px;
	width: 98%;
	text-align: center;
}

#flapButton {
	height: 98vh;
	width: 98vh;
	border: none;
	background: none;
}
