#canvas {
	display: block;
	margin: auto;
	text-align: center;
}

#scoreCounter {
	color: white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	top: 30px;
	width: 98%;
	text-align:center;
	font-size: 70px;
}

.container {
	position: absolute;
	bottom: 30px;
	width: 98%;
	text-align: center;
}

#flapButton {
	height: 666px;
	width: 380px;
	border: none;
	background: none;
}

#credits {
	position: absolute;
	color: #aaaaaa;
	bottom: 10px;
	font-size: 13px;
}

#creditsTitle{
	font-size: 17px;
}